@import 'styles/variable';

$massas: #d73b3b;
$carnes: #30201e;
$combos: #e6c864;
$veganos: #80aa40;

@mixin color-transition {
  color: white;
  transition: .3s background-color ease-in-out
}


.filterGroup {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin: 20px 0;
    &__filter {
      align-items: center;
      background-color: $grey;
      border: none;
      border-radius: 4px;
      display: flex;
      font-size: 1.25rem;
      font-weight: bold;
      height: 40px;
      justify-content: center;
      width: 150px;
        &__Massas {
          background-color: $massas;
          @include color-transition()
        }
        &__Carnes {
          background-color: $carnes;
          @include color-transition()

        }
        &__Combos {
          background-color: $combos;
          @include color-transition()
        }
        &__Veganos {
          background-color: $veganos;
          @include color-transition()

        }
       
      &:hover {
        cursor: pointer;
      }
    }
  }